services:
  webapi:
    image: webapi
    build:
      context: .
      dockerfile: WebApi/Dockerfile

  webclient:
    image: webclient
    build:
      context: .
      dockerfile: WebClient/Dockerfile
      
  redis:
    image: redis:latest
    container_name: INGSW_Sessions
    ports:
      - "6379:6379"
  
  minio:
    image: minio/minio
    container_name: INGSW_Images
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  minio_data: