<td style="padding: 0 40px 40px 40px;">
    <h1 style="text-align: center;">Benvenuto!</h1>

    <p>La tua agenzia <strong>{{nome_agenzia}}</strong> è stata creata con successo!</p>

    <p>Speriamo che la tua esperienza sulla piattaforma sia piacevole e senza difficoltà.</p>
    <p>La tua password per accedere alla piattaforma è: <strong>{{temp_password}}</strong></p>
    <br>
    <p>Per qualunque domanda o difficoltà, non esitare a contattarci.</p>

    <br>
    <p>A presto,<br>Il Team di Supporto</p>
</td>