@using DietiEstate.WebClient.Data.Requests
@implements IDialogContentComponent<LoginRequestDto>

@inject IJSRuntime JsRuntime
@inject HttpClient Http

<FluentTextField Label="Email" @bind-Value="Content.Email" TextFieldType="TextFieldType.Email" Style="width: 100%"></FluentTextField>
<FluentTextField Label="Password" @bind-Value="Content.Password" TextFieldType="TextFieldType.Password" Style="width: 100%"></FluentTextField>
<FluentLabel Style="cursor: pointer; text-decoration: underline;" @onclick="OpenRegisterDialogAsync">
    Non hai un account? Registrati subito!
</FluentLabel>
<div id="googleBtn"></div>

@code {
    [Parameter]
    public LoginRequestDto Content { get; set; } = default!;
    
    [CascadingParameter]
    public FluentDialog? Dialog {get; set; }

    private async Task OpenRegisterDialogAsync()
    {
        await Dialog.CloseAsync(new UserRequestDto());
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            await JsRuntime.InvokeVoidAsync("renderGoogleButton", DotNetObjectReference.Create(this));
        }
    }

    [JSInvokable]
    public async Task ProcessGoogleLogin(string googleJwt) {
        var result = await Http.PostAsJsonAsync("api/auth/google-exchange", new { Token = googleJwt });
        if (result.IsSuccessStatusCode) {
            // var myAppTokens = await result.Content.ReadFromJsonAsync<MyTokenResponse>();
            // Salva il TUO JWT nel LocalStorage e aggiorna lo stato dell'app
        }
    }
}